<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Округ</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<ul class="breadcrumb">
    <li><a href="#" th:href="@{/districts}">К списку округов</a></li>
</ul>
<div class="container w3-card-4">
    <div class="container">
        <form class="form-horizontal" th:object="${district}" action="#" th:action="@{/districts/district}"
              method="post">
            <!--Подзаголовок страницы-->
            <header class="w3-container w3-light-grey form-group">
                <h2><i>Редактирование информации об округе</i></h2>
                <input type="hidden" th:field="*{id}"/>
            </header>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="control-label" for="name"><span class="asterisk">*</span>Наименование:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"/>
                </div>


                <!--Сохранить-->
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-default green">Сохранить</button>
                        <a href="#" th:href="@{/districts}" class="btn btn-default white">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>