<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Партия</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<ul class="breadcrumb">
    <li><a href="#" th:href="@{/parties}">К списку партий</a></li>
</ul>
<div class="container w3-card-4">
    <form class="form-horizontal" th:object="${partyForm}" action="#" th:action="@{/parties/party}" method="post">
        <!--Подзаголовок страницы-->
        <header class="w3-container w3-light-grey form-group" th:if="${edit}">
            <h2><i>Редактирование информации о партии</i></h2>
            <input type="hidden" th:field="*{id}"/>
        </header>
        <header class="w3-container w3-light-grey form-group" th:unless="${edit}">
            <h2><i>Создание партии</i></h2>
            <input type="hidden" th:field="*{id}"/>
        </header>
        <div class="col-sm-12">
            <!--Данные партии-->
            <div class="form-group">
                <label class="control-label" for="name"><span class="asterisk">*</span>Наименование:</label>
                <input type="text" class="form-control" id="name" pattern="^[А-Яа-яЁё\s]{3,10}" th:field="*{name}"
                       th:required="required"
                       placeholder="Введите наименование партии"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="phoneNumber"><span class="asterisk">*</span>Телефон:</label>
                <input type="text" class="form-control" id="phoneNumber" pattern="[0-9]{5,10}"
                       th:field="*{phoneNumber}"
                       placeholder="Введите номер телефона"/>
            </div>

            <!--Адрес-->
            <div class="form-group">
                <label class="control-label" for="city"><span class="asterisk">*</span>Город:</label>
                <input type="text" class="form-control" id="city" pattern="^[А-Яа-яЁё\s]{3,10}" th:field="*{city}"
                       th:required="required"
                       placeholder="Введите город"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="district"><span class="asterisk">*</span>Район:</label>
                <input type="text" class="form-control" id="district" pattern="^[А-Яа-яЁё\s]{3,10}"
                       th:field="*{district}"
                       th:required="required"
                       placeholder="Введите район"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="street"><span class="asterisk">*</span>Улица:</label>
                <input type="text" class="form-control" id="street" pattern="^[А-Яа-яЁё\s]{3,10}"
                       th:field="*{street}"
                       th:required="required"
                       placeholder="Введите улицу"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="house"><span class="asterisk">*</span>Дом:</label>
                <input type="text" class="form-control" id="house" pattern="[0-9]{1,3}" th:field="*{house}"
                       th:required="required"
                       placeholder="Введите номер дома"/>
            </div>

            <!--Сохранить-->
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-default green">Сохранить</button>
                    <a href="#" th:href="@{/parties}" class="btn btn-default white">Отмена</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>