<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Заседание</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--Multiselect KendoUI-->
    <link th:href="@{../css/styles/kendo.common.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{../css/styles/kendo.material.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{../css/styles/kendo.material.mobile.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{../js/js/jquery.min.js}"></script>
    <script th:src="@{../js/js/kendo.all.min.js}"></script>

</head>
<body>
<ul class="breadcrumb">
    <li><a href="#" th:href="@{/meetings}">К списку заседаний</a></li>
</ul>
<div class="container w3-card-4">
    <form class="form-horizontal" th:object="${meetingForm}">
        <!--Подзаголовок страницы-->
        <header class="w3-container w3-light-grey form-group">
            <h2><i>Подробнее о заседании</i></h2>
            <input type="hidden" th:field="*{id}"/>
        </header>
        <div class="col-sm-12">
            <!--Данные встречи-->
            <div class="form-group">
                <label class="control-label" for="topic">Тема:</label>
                <span id="topic" th:text="*{topic}"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="date">Дата:</label>
                <span id="date" th:text="*{formatted}"></span>
            </div>
            <div class="form-group" th:if="${not #lists.isEmpty(meetingForm.present)}">
                <label class="control-label" for="deputies">Список участвующих депутатов:</label>
                <span th:each="deputy : ${meetingForm.present}" id="deputies">
                    <span th:text="${deputy.surname} + ' ' + ${deputy.name} + ';'"></span>
                </span>
            </div>
        </div>
    </form>
    </div>
</body>
</html>