<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>Districts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{../css/w3.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{../css/main.css}" rel="stylesheet" media="screen"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>

    <!-- EasyAutoComplete files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

</body>
</html>