<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>Districts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />


    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>
    <link th:href="@{../css/main.css}" rel="stylesheet" media="screen"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>-->
</head>
<body>

</body>
</html>