<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;"/>
</head>
<body>
<div th:fragment="header">

    <header class="header">
        <div class="w3-container">
            <div class="header__inner">
                <img class="header__logo" src="../images/logo.jpg" alt="iconic view of a parliament"/>
                <h1 class="header__title">
                    www.webparliament.ru
                </h1>
            </div>
        </div>
    </header>
    <div class="w3-container">
        <ul class="w3-navbar w3-light-grey w3-border">
            <li class="w3-padding-16"><a href="#" th:href="@{/fractions}">Фракции</a></li>
            <li class="w3-padding-16"><a href="#" th:href="@{/parties}">Партии</a></li>
            <li class="w3-padding-16"><a href="#" th:href="@{/deputies}">Депутаты</a></li>
            <li class="w3-padding-16"><a href="#" th:href="@{/districts}">Округи</a></li>
            <li class="w3-padding-16">
                <input type="text" class="w3-input w3-border-0" placeholder="Поиск.."/>
            </li>
        </ul>
    </div>
</div>
</body>
</html>