<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:fragment="header">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <img class="header__logo" src="images/logo.jpg" alt="iconic view of a parliament"/>
                <h1 class="header__title">
                    www.webparliament.ru
                </h1>
            </div>
        </div>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#" th:href="@{/fractions}">Фракции</a></li>
            <li class="nav__item"><a href="#" th:href="@{/parties}">Партии</a></li>
            <li class="nav__item"><a href="#" th:href="@{/deputies}">Депутаты</a></li>
            <li class="nav__item"><a href="#" th:href="@{/districts}">Округи</a></li>
        </ul>
    </nav>
</div>
</body>
</html>