<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Districts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(districts)}">
        <h2 align="center">District List</h2>
        <table class="table table-striped">
            <tr>
                <th>District name</th>
            </tr>
            <tr th:each="district : ${districts}">
                <td th:text="${district.name}"><a th:href="@{/districts/${district.name}}">Name</a></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>