<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>The Web Parliament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/slider :: slider"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>